@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.about-outer-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.about-container {
    height: 100%;
    display:flex;
    flex-direction: column;
}

.about-banner {
    width: 100%;
    height: 30%;
    background-color: #11557C;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-banner h1{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 100px;
    margin-top: 0px;
}

.about-us-box {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin: 50px 15% 50px 15%;
    /*width: 70%;
    height: 50%;*/
    /*margin: -80px auto 0;
    background-color: white;*/
    border: 2px solid gray;
    font-size: 12px;
    /*border-top: none;*/
    border-radius: 2rem;
}

.our-mission, .how-we-made-this {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.our-mission > h1, .how-we-made-this > h1 {
    font-family: "Comme", sans-serif;
}

/* .reweb-logo-container { */
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*display: inline-block;*/
    /* idth: 10%;*/
    /*height: 10%;*/
/* }*/
.reweb-logo-container { 
    height: 10%;
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 0px 20px 0px;
    padding: 50px;
}

#reweb-logo {
    /*display: inline-block;*/
    /*height: 200px;*/
    /*margin-left: 30px;*/
    /*margin-top: 80px;*/
    
    width: 200px;
    height: 200px;
}

.our-mission{
    /*margin-left: -50px;*/
    padding: 30px;
}
.how-we-made-this {
    /*margin-right: 0px;*/
    padding: 30px;
}

.logos {
    display: flex;
    flex-direction: column;
    /* align-items: center;*/
    justify-content: center; 
    margin: 150px 0px 0px 0px;
    width: 10%;
    height: 10px;
}

/* #react-logo, #javascript-logo {
    height: 150px;
    margin-right: 90px;
}

#react-logo {
    margin-top: 50px;
} */

.about-us-box p {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}