.changes-outer-container {
  height: 100%;

  display: flex;
  flex-direction: column;

  font-family: "Comme", sans-serif;
}

.changes-container {
  display: flex;

  width: 100%;
  height: 100%;

  box-sizing: border-box;
}

.changes-sidebar {
  width: 30%;
  height: 100%;

  background-color: rgb(220, 220, 220);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.changes-options-title {
  font-family: "Comme", sans-serif;
  font-size: 2rem;
}

.changes-list > li {
  font-size: 1.25em;
  margin: 0.5rem 0;
  color: #8a46b7;
}

.labelButtonRow {
  margin: 0.5rem 0;
}

.happy-label, .frown-label {
  font-size: 1.25em;
  /*margin: 1em;*/
}

.happy-label {
  color: #199a2a;
}

.frown-label {
  color: #c02727;
}

.changes-main-content {
  height: 100%;
  width: 70%;
}

.buttons-table {
  margin-top: 20px;
}

.buttons-table > tbody > tr > td {
  padding: 0.5rem;
}