.changes-outer-container {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.changes-container {
  display: flex;

  width: 100%;
  height: 100%;

  box-sizing: border-box;
}

.changes-sidebar {
  width: 30%;
  height: 100%;

  background-color: rgb(220, 220, 220);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.changes-title {
  font-family: "Comme", sans-serif;
  font-size: 2rem;
}

.changes-checkbox {
  width: 20px;
  height: 20px;
}

.changes-main-content {
  height: 100%;
  width: 70%;

  /*background-color: green;*/
}

.download-button {
  margin-top: 3rem;
}