@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@700&family=Roboto&display=swap');

.home-outer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home-container {
  height: 100%;
  display: flex;
}

.home-banner {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.banner-text {
  color: red;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-bottom: -90px;
}

.banner-text h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.banner-text p {
  font-size: 1.5em;
  margin: 0;
}
.upload-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  width: 50%;
  margin: 0 auto;
  margin-top: 200px;
  background-color: gray;
}
.upload-button {
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  }
  .upload-button:active,
  .upload-button:hover {
    outline: 0;
  }

  @media (min-width: 768px) {
    .upload-button {
      font-size: 24px;
      min-width: 196px;
    }
  }

.columns-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.info-column, .language-column {
  text-align: center; 
  width: 23.93%;
  height: 80%;
  background-color: #f8f4f4;
  margin-bottom: 100px;
}

.info-column {
  margin-right: 20px;
}

.language-column {
  margin-left: 20px;
}

.instructions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-box, .improve-box, .easy-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#upload-logo, #improve-logo, #easy-logo {
  height: 100px;
  pointer-events: none;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#java-logo {
  width: 250px;
  pointer-events: none;
}

#python-logo {
  width: 300px;
  pointer-events: none;
}

#cpp-logo {
  width: 120px;
  pointer-events: none;
}

#cpp-logo-box {
  width: 250px;
}

.footer {
  margin-top: auto;
  background-color: black;
  color: white;
  text-align: center;
  padding: 50px;
}